<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="connString" connectionString="Data Source=TWTSA-3NCKTT2\SQLEXPRESS;Initial Catalog=ball_table;Integrated Security=True" providerName="System.Data.SqlClient" />-->
			<add name="connString_us" connectionString="Data Source=USSJC-MSSQLCL01\WAFERVIEWER;Initial Catalog=HAVANA;Integrated Security=True" providerName="System.Data.SqlClient" />	
	</connectionStrings>
</configuration>